@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;
$text3:"Jacques Francois Shadow";
$text4:"Joti One";
$text5:"DM Serif Text";
$text6:"Libre Barcode 128 Text";
$text7:"Bruno Ace SC";
$color1: #000000;
$color2: #286f6c;
$color2_1: #174340;
$color3: #ffffff;
$color3_light: rgb(249, 141, 141);
$color3_1: #35f05e;
$color4: #fff;
$color5: #292b46;
$color6: #ffffff;
$color6_1: #ffffff;
$color6_2: #16161622;

$p: 13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;