#work {
    width: 100%;
    height: 100vh;
    // padding: 8rem $p;
    background-color: $color4;
    > h2 {
      font: 100 3.5rem $text5;
      width: fit-content;
      border-bottom: 1px solid $color6_1;
      padding-top: 10rem;
      margin: auto;
    }
    .carousel .control-dots{
      margin-bottom: 15px;
    }
    .carousel .control-dots .dot{
      width: 15px;
      height: 15px;
      background: black;
    }
  
    > section {
      // margin-top: 4rem;
      width: 100%;
      height: 100%;
      background-color: $color4;
      display: flex;
      align-items: center;
      justify-content: center;
  
      > article {
        width: 70%;
        height: 25vmax;
      }
  
      .workItem {
        overflow-y: auto;
        height: 25rem;
        width: 95%;
        margin: auto;
        background-color: $color4;
        display: flex;
        padding: 2rem;
        box-shadow: 0 0 100px 7px $color6_3;
        
        > img {
          // border-radius: 20px;
          border: 1px solid black;
          border-radius: 8px;
          height: 80%;
          width: 45%;
          object-fit: contain;
        }
  
        > aside {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          >h3{
            font-size: 38px;
          }
          > p {
            letter-spacing: 1px;
            line-height: 180%;
            margin: 2rem;
            font-size: 20px;
          }
          > a {
            background-color: $color1;
            padding: 0.7rem 2rem;
            margin: 2rem;
            color: $color4;
            transition: all 0.5s;
            &:hover {
              background-color: $color6_3;
              color: $color1;
            }
          }
        }
      }
    }
  }